{
  "config": "yourIrcNickHere",
  "consumer_key": "",
  "consumer_secret": "",
  "access_token": "",
  "access_token_secret": ""
  "ranges": {
    "FOX News NYC Office": [
      ["74.120.97.0", "74.120.97.255"]
    ],
  }
}


